<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.keddnyo.amazware" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AmazWare" >
        <activity
            android:name=".activities.ExtrasResponse"
            android:exported="false" />
        <activity
            android:name=".activities.Firmwarehouse"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.Feed"
            android:exported="false"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.ExtrasDialog"
            android:exported="false" />
        <activity
            android:name=".activities.Settings"
            android:exported="false" />
    </application>

</manifest>